* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.head {
  background: black;
  color: white;
  height: 80px;
}

h1 {
 font-size: 3rem;
 margin-left: 40px;
 padding-top: 10px 
}

.rows {
  display: flex;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}

.user {
  height: 100px;
  margin-top: 20px;
}

.card {
  border: 4px solid black;
  text-align: center;
  height: 275px;
  width: 200px;
}

.card-1, .card-2, .card-3 {
  border: 4px solid black;
  margin-bottom: 30px;
  margin-left: 30px;
}

.add {
  margin-top: 20px;
}

h3 {
  margin-top: 30px;
  font-size: 2rem;
}

h4 {
  margin: 20px 0 20px 20px;
  font-size: 2rem;
}
 .likes {
   display: flex;
  justify-content: end;
  margin-top: -50px;
  margin-right: 70px;
  font-size: 1.2rem;
 }

 .btn-like {
   background: yellow;
   font-size: 1.5rem;
   box-shadow: 2px 2px 2px 
   black;
   margin-bottom: 30px;
   margin-left: 20px;
 }

span#post-1,
span#post-2,
span#post-3 {
  margin-top: 10px;
}

p.post {
  font-size: 1.2rem;
  margin: 20px;
}

