* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.head {
  background: black;
  color: white;
  height: 80px;
}

h1 {
 font-size: 3rem;
 margin-left: 40px;
 padding-top: 10px 
}

